@import 'https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css';

@media (min-width: 799px) {
    #app {
        display: grid;
        grid-template-areas: "header header"
                             "zip entry"
                             "feelings entry";
        grid-template-rows: 1fr 100px 2fr;
        grid-template-columns: 3fr 2fr;
    }

    #header {
        grid-area: header;
    }

    #zip-section {
        grid-area: zip;
    }

    #feelings-section {
        grid-area: feelings;
    }

    #entry-selection {
        grid-area: entry;
    }
}